:root {
  --max_x: 850px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a, button {
  cursor: pointer;
  transition: opacity 0.1s ease-out;
}

a:hover, button:hover {
  opacity: 0.6;
}

a {
  color: inherit;
}

h1 {
  line-height: 1;
}

video::-webkit-media-controls {
  display:none !important;
}

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
  background: rgba(255, 255, 255);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.nav-content {
  display: flex;
  width: 100%;
  max-width: var(--max_x);
  justify-content: space-between;
  margin: 0 auto;
  padding: 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 0.3rem;
}

.logo > span {
  font-size: 1.2rem;
  font-weight: 700  ;
  letter-spacing: -0.06rem;
}

#nav-logo {
  width: 50px;
}

.right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.right > * {
  padding: 0.5rem;
}

.right > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.8rem;
  margin-left: 0.5rem;
  margin-right: 0.8rem;
  gap: 0.2rem;
  border-radius: 0.3rem;
  background-color: #000;
  color: #fff !important;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
}

.hero {
  display: flex;
  max-width: 700px;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  perspective: 2000px;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -0.15rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.subtitle {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
  opacity: 0.8;
}

.header {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
}

.thin {
  font-weight: 500;
}

.stars {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

hr {
  width: 100%;
  height: 1px;
  margin: 2rem 0;
  border: none;
  /* Gradient fade on both sides */
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  );
}

.hero-icon {
  width: 100px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  border: solid 3px rgba(255, 255, 255, 0.4);
  border-radius: 1.3rem;
}

.icon-view {
  position: relative;
  margin-bottom: 1rem;
}

.circles {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) !important;
  filter: invert();
}

.highlight {
  background-image: linear-gradient(-5deg, #ff1746, #ff98a1);
  background-clip: text;
  -webkit-background-clip: text;  
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.silver-highlight {
  background-image: linear-gradient(-2deg, #000, #767676);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

/* BLOBS */
@keyframes from0to360 {
  from{transform:rotate(0);}
  to{transform:rotate(360deg);}
}
@keyframes from360to0 {
  from{transform:rotate(360deg);}
  to{transform:rotate(0deg);}
}
@keyframes scaleUp {
  from{transform:scale(0.8);}
  to{transform:scale(1);}
}
@keyframes scaleDown {
  from{transform:scale(1);}
  to{transform:scale(0.8);}
}

@keyframes from360to0scaled {
  from{transform:rotate(360deg) scale(1.1); }
  to{transform:rotate(0deg) scale(0.25);}
}

.blob-svg {
  position: absolute;
  top: 0;
  z-index: -1;
  filter: blur(80px);
  opacity: 0.3;
  will-change: transform;
}

.circle1 {
  animation: from0to360 10s linear infinite;
  cx: 350;
  cy: 145;
  r: 30;
  fill: white;
  transform-origin: 145px 150px;
}
.circle2 {
  animation: from360to0 20s linear infinite;
  cx: 150;
  cy: 255;
  r: 30;
  fill: white;
  transform-origin: 160px 150px;
}
.circle3 {
  animation: from0to360 30s linear infinite alternate;
  cx: 145;
  cy: 150;
  r: 50;
  fill: white;
  transform-origin: 150px 145px;
}
.circle4 {
  animation: from360to0 25s linear infinite;
  cx: 155;
  cy: 150;
  r: 50;
  fill: white;
  transform-origin: 150px 155px;
}
.ellipse1 {
  animation: from360to0scaled 20s linear infinite alternate;
  rx: 50;
  ry: 80;
  cx: 150;
  cy: 50;
  fill: white;
  transform-origin: 130px 155px;
}
.ellipse2 {
  animation: from0to360 15s linear infinite;
  rx: 70;
  ry: 60;
  cx: 250;
  cy: 50;
  fill: white;
  transform-origin: 150px 155px;
}

.hero-img {
  width: 100%;
  margin: 5rem;
  aspect-ratio: 391/270;
  margin-top: 10rem;
  border-radius: 10px;
  box-shadow: 0 15px 70px rgba(0, 0, 0, 0.6);
}

section {
  width: 80%;
  max-width: 800px;
}

.feature-grid {
  display: flex;
  width: 100%;
}

.feature-grid .feature {
  padding: 0.8rem;
  flex: 1 1 0;
  font-size: 1rem;
}

.feature-grid .feature > .icon {
  width: 18px;
  vertical-align: bottom;
}

.feature-grid .feature > .summary {
  font-weight: 400;
}

.feature-grid .feature > .description {
  opacity: 0.4;
}


.part2 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phones-container {
  display: flex;
  position: relative;
  top: 0;
  bottom: 0;
  width: 80%;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.phones {
  display: flex;
  position: relative;
  width: 45%;
  height: 100%;
  justify-content: center;
  align-items: end;
}

.phones > img {
  position: absolute;
  filter: drop-shadow(rgba(0,0,0,0.2) 0 25px 30px);
}

.phones > .left {
  width: 65%;
  z-index: 9;
}

.phones > .right {
  width: 65%;
  z-index: 9;
}

.phones > .main {
  width: 75%;
  z-index: 10;
}

.phones > .lefter {
  width: 55%;
  z-index: 9;
}

.phones > .righter {
  width: 55%;
  z-index: 8;
}

.boxes {
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-bottom: ;
  gap: 2rem;
}

.boxes > .box {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  aspect-ratio: 1.1/1;
  border-radius: 40px;
  overflow: hidden;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0));
}



.boxes > .box > img {
  position: absolute;
  top: 0;
  right: 0;
  width: 15rem;
  object-fit: contain;
  transform: translate(-20%, 30%);
  filter: drop-shadow(rgba(0,0,0,0.2) 0 15px 20px);
}

.boxes > .box::before {
  content: "";
  position: absolute;
  padding: 1px;
  pointer-events: none;
  user-select: none;
  inset: 0px;
  border-radius: inherit;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  -webkit-mask: linear-gradient(white, white) content-box content-box, linear-gradient(white, white);
  -webkit-mask-composite: xor;
}

.box-text {
  width: 100%;
  padding: 2rem;
}

.box-text > .box-title {
  margin: 0; 
  font-size: 1.5rem;
  font-weight: 500;
}

.box-text > .box-description {
  margin: 0;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  opacity: 0.4;
}

.team-section {
  max-width: 700px;
}

.team {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-top: 5rem;
  gap: 2rem;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  gap: 0.5rem;
}

.profile img {
  position: relative;
  width: 150px;
  border-radius: 888px;
  border: solid 1px rgba(0,0,0,0.1);
}

.profile p {
  font-size: 1.1rem;
  font-weight: 400;
  opacity: 0.4;
}

a > .icon {
  width: 15px;
  color: inherit;
}

footer {
  width: 100%;
  background: #1c1c1c;
  color: white;
}

.footer-body {
  display: flex;
  max-width: var(--max_x);
  justify-content: space-between;
  margin: 0 auto;
  padding: 5rem 0;
}


.footer-body > .right {
  flex: 1 1 0;
}

.footer-body > .left {
  flex: 1 1 0;
}

.footer-body > .left > div {
  margin: 0.5rem 0;
}

.footer-body > .left a:hover {
  padding-left: 5px;
  opacity: 0.5;
}

.footer-body > .left a {
  transition: padding-left .1s ease-out;
  font-size: 1.2rem;
  opacity: 0.8;
  text-decoration: none;
}

.footer-body > .left > h1 {
  letter-spacing: -0.06rem;
}